
 .update-profile{

    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
     margin: 0 auto;
     width: 50%;
}

 .input-update{
     display: block;
     border: 2px solid #ccc;
     width: 95%;
     padding: 10px;
     margin: 10px auto;
     border-radius: 5px;
 }
 label {
     color: #888;
     font-size: 18px;
     padding: 10px;
 }


 button:hover{
     opacity: .7;
 }
